//@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Outfit:wght@300&display=swap");

@import "./_bootstrap.scss";

body {
  font-size: 22px;
  position: relative;
  // background: #27a7b8;
  // background: linear-gradient(
  //   180deg,
  //   #27a7b8 0%,
  //   #27a7b8 20%,
  //   #fff 30%,
  //   #fff 60%,
  //   #111 80%,
  //   #111 100%
  // );
  font-family: "Lexend Deca", sans-serif;
}

h1,
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: $indigo;
  text-align: center;
  letter-spacing: -0.06em;
  margin-top: 30px;
  @include media-breakpoint-up(md) {
    margin-top: 5px;
    font-size: 72px;
    line-height: 80px;
  }
}
h1 {
  margin-bottom: 45px;
  font-size: 36px;
}
.btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: -0.04em;
  padding: 15px 35px;
  box-shadow: 2px 4px 15px rgba(74, 87, 120, 0.2);
  border-radius: 30px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 24px;
  }
  &.btn-light {
    color: $indigo;
  }
  &.btn-success {
    background: linear-gradient(
      258.72deg,
      #00d7a3 0%,
      #00c5ad 50%,
      #00d7a3 100%
    );
  }
  &.btn-danger {
    background: linear-gradient(
      258.72deg,
      #ff716b 0%,
      #f8306c 50%,
      #ff716b 100%
    );
  }
  &.btn-success,
  &.btn-danger {
    color: white;
    border-color: transparent;
    background-size: 200% auto;
    background-position: right center;
    transition: background-position 0.3s ease;
    &:hover {
      background-position: left center;
    }
  }
}
main {
  z-index: 1;
  position: relative;
}
header {
  padding: 60px 0 0 0;
  svg {
    transition: fill 0.5s ease;
    transform: scale(66%);
    @include media-breakpoint-up(md) {
      transform: scale(100%);
    }
  }
  .qr-code {
    margin: -10px -15px 0 0;
  }
}
.hero {
  max-width: 350px;
  @include media-breakpoint-up(md) {
    max-width: 980px;
  }
}
section {
  min-height: 100vh;
  &.light {
    color: $indigo;
    .form-control,
    .form-select {
      color: $indigo;
      border-color: $indigo;
    }
  }
  &.dark {
    color: white;
    h1 {
      color: white;
    }
    .form-control,
    .form-select {
      color: white;
      border-color: white;
    }
  }
  p.lead {
    font-family: "Outfit", sans-serif;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    @include media-breakpoint-up(md) {
      color: $secondary;
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
    }
  }
  &.bg-map {
    background-image: url(../images/map.svg);
    background-size: cover;
  }
}
p.connect {
  max-width: 912px;
  margin: 0 auto 45px;
  letter-spacing: -0.04em;
}
.influencer {
  p.connect {
    max-width: 780px;
    color: $secondary;
  }
}

form.contact {
  max-width: 690px;
  margin: auto;
  .row > * {
    padding-right: 10px;
    padding-left: 10px;
  }
  .form-control,
  .form-select {
    background: transparent;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 30px;
    height: 60px;
    font-size: 16px;
    padding: 20px 30px;
  }
  textarea.form-control {
    height: auto;
    resize: none;
  }
  select.form-select {
    padding: 15px 30px;

    &:invalid {
      color: $input-placeholder-color;
    }
  }
}
.phone {
  width: 390px;
  height: 823px;
  margin: auto;
  background: white;
  border: 9px solid $indigo;
  filter: drop-shadow(2px 4px 15px rgba(74, 87, 120, 0.2));
  border-radius: 40px;
  position: sticky;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 0.5s;
  &.state0 {
    background-image: url("../images/phone1.png");
    background-repeat: no-repeat;
    background-position: 50% 19%;
    background-size: 142%;
    transform: scale(141%) translate(-35%, 65%);
  }
  &.state1 {
    background-image: url("../images/phone1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
.background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  &.state0 {
    background-color: #27a7b8;
    background-image: url("../images/hero.jpg");
    filter: blur(25px);
    opacity: 1;
    transform: scale(105%);
  }
  &.state1 {
    background-color: white;
    background-image: url("../images/hero.jpg");
    filter: blur(50px);
    opacity: 0.2;
    transform: scale(115%) translateY(-50%);
  }
  &.state2 {
    background-color: white;
    background-image: none;
    filter: blur(0);
    opacity: 0.2;
    transform: scale(115%) translateY(-50%);
  }
  &.state3 {
    background-image: url("../images/forest-repeat.jpg");
    filter: blur(0px);
    opacity: 1;
    transform: scale(100%) translateY(0%);
  }
  &.state4 {
    background-color: #232220;
    background-image: url("../images/forest-repeat.jpg");
    filter: blur(50px);
    opacity: 0.2;
    transform: scale(115%) translateY(-50%);
  }
}
