//@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

@import "./_bootstrap.scss";

body {
  font-size: 22px;
  background: #27a7b8;
  background: linear-gradient(
    180deg,
    #27a7b8 0%,
    #27a7b8 20%,
    #fff 30%,
    #fff 60%,
    #111 80%,
    #111 100%
  );
  font-family: "Lexend Deca", sans-serif;
}
h1,
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.06em;
}
h1 {
  margin-bottom: 45px;
}
@keyframes gradientAnimation {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  padding: 15px 35px;
  box-shadow: 2px 4px 15px rgba(74, 87, 120, 0.2);
  border-radius: 30px;
  &.btn-light {
    color: $indigo;
  }
  &.btn-success {
    background: linear-gradient(
      258.72deg,
      #00d7a3 0%,
      #00c5ad 50%,
      #00d7a3 100%
    );
  }
  &.btn-danger {
    background: linear-gradient(
      258.72deg,
      #ff716b 0%,
      #f8306c 50%,
      #ff716b 100%
    );
  }
  &.btn-success,
  &.btn-danger {
    color: white;
    border-color: transparent;
    background-size: 200% auto;
    background-position: right center;
    transition: background-position 0.3s ease;
    &:hover {
      background-position: left center;
    }
  }
}

header {
  padding: 60px 0 0 0;
  .qr-code {
    margin: -10px -15px 0 0;
  }
}
section {
  height: 100vh;
  &.light {
    color: $indigo;
  }
  &.dark {
    color: white;
  }
  p.lead {
    color: $secondary;
  }
  &.bg-map {
    background-image: url(../images/map.svg);
    background-size: cover;
  }
}
.phone {
  width: 390px;
  height: 845px;
  margin: auto;
  background: white;
  border: 9px solid $indigo;
  //filter: drop-shadow(2px 4px 15px rgba(74, 87, 120, 0.2));
  border-radius: 40px;
}
