//@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

@import "./_bootstrap.scss";

body {
  background: #27a7b8;
  font-family: "Lexend Deca", sans-serif;
}
h1,
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.06em;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  padding: 15px 35px;
  box-shadow: 2px 4px 15px rgba(74, 87, 120, 0.2);
  border-radius: 30px;
  &.btn-light {
    color: $indigo;
  }
  &.btn-success,
  &.btn-danger {
    color: white;
    border-color: transparent;
  }
  &.btn-success {
    background: linear-gradient(258.72deg, #00d7a3 0%, #00c5ad 100%);
  }
  &.btn-danger {
    background: linear-gradient(258.72deg, #ff716b 0%, #f8306c 100%);
  }
}
header {
  padding: 60px 0 0 0;
  .qr-code {
    margin: -10px -15px 0 0;
  }
}
section {
  height: 100vh;
}
.phone {
  width: 390px;
  height: 845px;
  margin: auto;
  background: white;
  border: 9px solid $indigo;
  //filter: drop-shadow(2px 4px 15px rgba(74, 87, 120, 0.2));
  border-radius: 40px;
}
