@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Outfit:wght@300&display=swap");

@import "./_bootstrap.scss";

body {
  font-size: 22px;
  position: relative;
  font-family: "Lexend Deca", sans-serif;

  &:after {
    content: "XS";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 4px;
    background-color: rgba(244, 11, 0, 0.75);
    color: white;
    font-family: monospace;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.85;
    @include media-breakpoint-up(sm) {
      content: "SM";
    }
    @include media-breakpoint-up(md) {
      content: "MD";
    }
    @include media-breakpoint-up(lg) {
      content: "LG";
    }
    @include media-breakpoint-up(xl) {
      content: "XL";
    }
    @include media-breakpoint-up(xxl) {
      content: "xxl";
    }
    @include media-breakpoint-up(xxxl) {
      content: "xxxl";
    }
  }
}

h1,
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: $indigo;
  text-align: center;
  letter-spacing: -0.06em;
  margin-top: 30px;
  @include media-breakpoint-up(md) {
    margin-top: 5px;
    font-size: 72px;
    line-height: 80px;
  }
}
h1 {
  margin-bottom: 45px;
  font-size: 36px;
  @include media-breakpoint-up(md) {
    margin-top: 5px;
    font-size: 72px;
    line-height: 80px;
  }
}
.btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: -0.04em;
  padding: 15px 10px;
  box-shadow: 2px 4px 15px rgba(74, 87, 120, 0.2);
  border-radius: 30px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 24px;
    padding: 15px 35px;
  }
  &.btn-light {
    color: $indigo;
  }
  &.btn-success {
    background: linear-gradient(
      258.72deg,
      #00d7a3 0%,
      #00c5ad 50%,
      #00d7a3 100%
    );
  }
  &.btn-danger {
    background: linear-gradient(
      258.72deg,
      #ff716b 0%,
      #f8306c 50%,
      #ff716b 100%
    );
  }
  &.btn-success,
  &.btn-danger {
    color: white;
    border-color: transparent;
    background-size: 200% auto;
    background-position: right center;
    transition: background-position 0.5s ease;
    &:hover {
      background-position: left center;
    }
  }
}

main {
  z-index: 1;
  position: relative;
  &.bg-hero {
    background-color: $indigo;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center center;
    p.lead {
      color: white;
    }
  }
}
header {
  padding: 34px 0 0 0;
  pointer-events: none;
  @include media-breakpoint-up(md) {
    padding: 45px 0 0 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 50px 0 0 0;
  }
  @include media-breakpoint-up(xxxl) {
    padding: 60px 0 0 0;
  }
  a {
    pointer-events: auto;
  }
  svg {
    transition: fill 0.5s ease;
    transform: scale(66%) translate3d(0, 0, 0);

    @include media-breakpoint-up(md) {
      transform: scale(100%) translate3d(0, 0, 0);
    }
  }
  .qr-code {
    margin: -10px -15px 0 0;
  }
}
.hero {
  max-width: 350px;
  @include media-breakpoint-up(md) {
    max-width: 980px;
  }
}
section {
  min-height: 100vh;
  padding: 0 20px !important;
  &.light {
    color: $indigo;
    h1,
    h2 {
      color: $indigo;
    }
    .form-control,
    .form-select {
      color: $indigo;
      border-color: $indigo;
    }
  }
  &.dark {
    color: white;
    h1,
    h2 {
      color: white;
    }
    .form-control,
    .form-select {
      color: white;
      border-color: white;
    }
  }
  p.lead {
    font-family: "Outfit", sans-serif;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-rendering: geometricPrecision;
    @include media-breakpoint-up(md) {
      color: $secondary;
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
    }
  }
}
p.connect {
  max-width: 912px;
  margin: 0 auto 45px;
  letter-spacing: -0.04em;
}
.influencer {
  p.connect {
    max-width: 780px;
    color: $secondary;
  }
}

form.contact {
  max-width: 690px;
  margin: auto;
  .row > * {
    padding-right: 10px;
    padding-left: 10px;
  }
  .form-control,
  .form-select {
    background: transparent;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 30px;
    height: 60px;
    font-size: 16px;
    padding: 20px 30px;
  }
  textarea.form-control {
    height: auto;
    resize: none;
  }
  select.form-select {
    padding: 15px 30px;

    &:invalid {
      color: $input-placeholder-color;
    }
  }
}
#mobile-buttons {
  position: fixed;
  //top: 0;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 50;
  &.inverted {
    .btn-store {
      background: $indigo;
      color: white;
      border-color: $indigo;
      svg {
        fill: white;
      }
    }
  }
  .appleLogo {
    margin-top: -7px;
    margin-right: 10px;
  }
  .googlePlay {
    width: 20px;
    margin-right: 10px;
  }
  .btn-slide {
    position: absolute;
    width: 100%;
  }
  .btn-store {
    position: relative;
    z-index: 5;
  }
}
.phone-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  top: 30%;
  transform: scale(0.7);
  transition: transform 0.3s;
  @include media-breakpoint-up(sm) {
    top: 0;
    transform: scale(0.75);
  }
  @include media-breakpoint-up(md) {
    top: 0;
    transform: scale(0.8);
  }
  @include media-breakpoint-up(lg) {
    top: 0;
    transform: scale(0.85);
  }
  @include media-breakpoint-up(xl) {
    top: 0;
    transform: scale(0.9);
  }
  @include media-breakpoint-up(xxl) {
    top: 0;
    transform: scale(0.95);
  }
  @include media-breakpoint-up(xxxl) {
    top: 0;
    transform: scale(1);
  }
  @media (max-height: 1024px) {
    top: 15%;
    transform: scale(0.9);
  }
  @media (max-height: 850px) {
    top: 30%;
    transform: scale(0.8);
  }
  @media (max-height: 750px) {
    top: 45%;
    transform: scale(0.7);
  }

  .phone {
    margin: auto;
    background: white;
    padding: 9px;
    filter: drop-shadow(2px 4px 15px rgba(74, 87, 120, 0.2));
    border-radius: 49px;
    position: absolute;

    .screen {
      width: 390px;
      height: 845px;
      border-radius: 40px;
      background-image: url("../images/phone.jpg");
      background-repeat: no-repeat;
      background-position: 7.5% 19%;
      background-size: 450%;
      position: relative;
      .dynamic-island {
        position: absolute;
        width: 126px;
        height: 37px;
        left: 132px;
        top: 10px;
        background: black;
        border-radius: 19px;
      }
      .home-button {
        position: absolute;
        width: 135px;
        height: 5px;
        left: 127px;
        bottom: 8px;
        background: black;
        border-radius: 3px;
      }
    }
  }
}

.background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    background-size: cover;
    background-position: center;
    z-index: 5;

    transform: scale(110%) translate3d(0, 0, 0);
    @include media-breakpoint-up(md) {
      transform: scale(105%) translate3d(0, 0, 0);
    }
    &.hero-image {
      background-image: url("../images/hero.jpg");
      //webkit-backface-visibility: hidden;
    }
    &.forest {
      background-image: url("../images/forest-repeat.jpg");
      box-shadow: inset 0 10px 5px 5px white;
      //webkit-backface-visibility: hidden;
    }
  }
}
