@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Outfit:wght@300;700&display=swap");

@import "./_bootstrap.scss";

// activate to see the breakpoints
@import "./_breakpoint-helper.scss";
body,
html {
  //scroll-snap-type: proximity;
  //scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  .snap {
    scroll-snap-align: start;
  }
}

body {
  font-size: 22px;
  position: relative;
  font-family: "Lexend Deca", sans-serif;
}

h1,
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: $indigo;
  text-align: center;
  letter-spacing: -0.06em;
  margin: 20px auto 10px;
  @include media-breakpoint-up(md) {
    margin: 20px auto;
    font-size: 36px;
    line-height: 110%;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 auto 25px;
    font-size: 40px;
    line-height: 110%;
  }
  @include media-breakpoint-up(xxl) {
    margin: 30px auto 25px;
    font-size: 64px;
    line-height: 72px;
  }
  @include media-breakpoint-up(xxxl) {
    margin: 30px auto 30px;
    font-size: 72px;
    line-height: 80px;
  }
}
h1 {
  margin: 30px auto 0;
  font-size: 36px;
  @include media-breakpoint-up(md) {
    margin: 15px auto;
    font-size: 40px;
    line-height: 110%;
    max-width: 500px;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 auto 30px;
    font-size: 48px;
    line-height: 110%;
    max-width: 650px;
  }
  @include media-breakpoint-up(xxl) {
    margin: 0 auto 45px;
    font-size: 72px;
    line-height: 80px;
    max-width: 990px;
  }
}
.btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.04em;
  padding: 20px 10px;
  box-shadow: 2px 4px 15px rgba(74, 87, 120, 0.2);
  border-radius: 30px;
  @include media-breakpoint-up(md) {
    line-height: 17px;
    padding: 14px 60px 15px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
    line-height: 24px;
    padding: 17px 35px;
  }
  &.btn-light {
    color: $indigo;
  }
  &.btn-success {
    background: linear-gradient(
      258.72deg,
      #00d7a3 0%,
      #00c5ad 50%,
      #00d7a3 100%
    );
  }
  &.btn-danger {
    background: linear-gradient(
      258.72deg,
      #ff716b 0%,
      #f8306c 50%,
      #ff716b 100%
    );
  }
  &.btn-success,
  &.btn-danger {
    color: white;
    border-color: transparent;
    background-size: 200% auto;
    background-position: right center;
    transition: background-position 0.5s ease;
    &:hover {
      background-position: left center;
    }
  }
}
.bg-dark {
  background-color: #232220 !important;
}
main {
  z-index: 1;
  position: relative;
  &.bg-hero {
    background-color: $indigo;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center center;
    p.lead {
      color: white;
    }
  }
}
header {
  padding: 25px 0 0 0;
  pointer-events: none;
  max-height: 200px;
  position: relative;
  margin-bottom: -100px;

  @include media-breakpoint-up(md) {
    padding: 45px 0 0 0;
  }
  @include media-breakpoint-up(lg) {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px;
  }
  @include media-breakpoint-up(xl) {
    padding: 50px 0 0 0;
  }
  @include media-breakpoint-up(xxxl) {
    padding: 60px 0 0 0;
  }
  a {
    pointer-events: auto;
  }
  svg {
    transition: fill 0.5s ease;
    transform: scale(66%) translate3d(0, 0, 0);

    @include media-breakpoint-up(md) {
      transform: scale(100%) translate3d(0, 0, 0);
    }
  }
  .qr-code {
    pointer-events: all;
    display: inline-block;
    background: white;
    border-radius: 30px;
    padding: 20px;
    width: 140px;
    box-shadow: 2px 4px 15px rgba(74, 87, 120, 0.2);
    transition: all 0.25s ease;
    transition-delay: 0;
    height: 140px;
    z-index: 50;
    position: relative;
    svg {
      width: 100px;
      padding: 10px;
      transition: all 0.25s ease 0s;
    }

    .details {
      opacity: 0;
      font-family: "Outfit";
      transition: opacity 0.25s ease 0s;
      color: $indigo;
      .scan {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.01em;
        margin-bottom: 20px;
      }

      .btn {
        border: 1px solid #00c5ad;
        border-radius: 28px;
        padding: 3px 5px 7px;
        box-shadow: none;

        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 125%;
        align-items: center;
        letter-spacing: -0.01em;
        color: #2e2e51;

        svg {
          padding: 0;
          width: 21px;
          margin: 9px 0 0 5px;
        }

        small {
          font-style: normal;
          font-weight: 400;
          font-size: 9px;
          line-height: 16px;
          letter-spacing: -0.005em;
        }

        &:hover {
          background: rgba(#00c5ad, 0.05);
        }
      }
    }

    &:hover {
      width: 220px;
      height: 400px;
      transition: all 0.25s ease 0s;
      svg {
        width: 180px;
      }
      .details {
        opacity: 1;
        transition-delay: 0.25s;
      }
    }

    &:not(:hover) {
      svg {
        transition-delay: 0.25s, 0s;
      }
      .details {
        opacity: 0;
        transition-delay: 0s, 0.25s;
      }
      transition-delay: 0.25s, 0s;
    }
  }
}
.hero {
  max-width: 350px;
  padding-top: 90px;
  @include media-breakpoint-up(md) {
    max-width: 980px;
    padding-top: 120px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 980px;
    padding-top: 200px;
  }
}
.text-shadow {
  text-shadow: 0 6px 32px rgba(0, 33, 22, 0.5), 0 2px 12px rgba(black, 0.1),
    0 2px 2px rgba(black, 0.15);
}
section {
  min-height: 100vh;
  &.light {
    color: $indigo;
    h1,
    h2 {
      color: $indigo;
    }
    .form-control,
    .form-select {
      color: $indigo;
      border-color: $indigo;
    }
  }
  &.dark {
    color: white;
    h1,
    h2 {
      color: white;
    }
    .form-control,
    .form-select {
      color: white;
      border-color: white;
    }
  }
  p.lead {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-rendering: geometricPrecision;
    @include media-breakpoint-up(lg) {
      color: $secondary;
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 18px;
      line-height: 30px;
    }
    @include media-breakpoint-up(xxxl) {
      font-size: 26px;
      line-height: 36px;
    }
  }
}
p.connect {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  text-rendering: geometricPrecision;
  max-width: 912px;
  letter-spacing: -0.01em;
  color: #f4f5f5;
  margin: 0 auto 30px;
  @include media-breakpoint-up(md) {
    padding-top: 5px;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: -0.01em;
    margin: 0 auto 45px;
    max-width: 745px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 10px;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: -0.04em;
    margin: 0 auto 45px;
    max-width: auto;
  }
}
.influencer {
  p.connect {
    max-width: 780px;
    color: $indigo;
    @include media-breakpoint-up(lg) {
      color: $secondary;
    }
  }
}

form.connect {
  padding: 0 10px;
  padding-bottom: 300px;
  @include media-breakpoint-up(md) {
    max-width: 690px;
    margin: auto;
  }
  .row > * {
    padding-right: 10px;
    padding-left: 10px;
  }
  .form-control,
  .form-select {
    background: transparent;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 30px;
    height: 60px;
    font-size: 16px;
    padding: 20px 30px;
  }
  textarea.form-control {
    height: auto;
    resize: none;
  }
  select.form-select {
    padding: 15px 30px;

    &:invalid {
      color: $input-placeholder-color;
    }
  }
}
#mobile-buttons {
  position: fixed;
  //top: 0;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 50;
  &.inverted {
    .btn-store {
      background: $indigo;
      color: white;
      border-color: $indigo;
      svg {
        fill: white;
      }
      .googlePlay {
        margin-top: -3px;
      }
    }
  }
  .appleLogo {
    margin-top: -7px;
    margin-right: 10px;
  }
  .googlePlay {
    width: 20px;
    margin-right: 10px;
  }
  .btn-slide {
    position: absolute;
    width: 100%;
  }
  .btn-store {
    max-height: 60px;
    position: relative;
    z-index: 5;
  }
}
.phone-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  top: 30%;
  transform: scale(0.7);
  transition: transform 0.3s;
  @include media-breakpoint-up(sm) {
    top: 20%;
    transform: scale(0.75);
  }
  @include media-breakpoint-up(md) {
    top: 0;
    transform: scale(0.8);
  }
  @include media-breakpoint-up(lg) {
    transform: scale(0.85);
  }
  @include media-breakpoint-up(xl) {
    transform: scale(0.9);
  }
  @include media-breakpoint-up(xxl) {
    transform: scale(0.95);
  }
  @include media-breakpoint-up(xxxl) {
    transform: scale(1);
  }
  @media (min-width: 768px) and (max-height: 1024px) {
    top: 15%;
    transform: scale(0.9);
  }
  @media (min-width: 768px) and (max-height: 850px) {
    top: 24%;
    transform: scale(0.8);
  }
  @media (min-width: 768px) and (max-height: 750px) {
    top: 32%;
    transform: scale(0.7);
  }

  .phone {
    margin: auto;
    background: white;
    padding: 9px;
    filter: drop-shadow(2px 4px 15px rgba(74, 87, 120, 0.2));
    border-radius: 49px;
    position: absolute;

    .screen {
      width: 390px;
      height: 845px;
      border-radius: 40px;
      background-image: url("../images/phone.jpg");
      background-repeat: no-repeat;
      background-position: 7.5% 19%;
      background-size: 450%;
      position: relative;
      .dynamic-island {
        position: absolute;
        width: 126px;
        height: 37px;
        left: 132px;
        top: 10px;
        background: black;
        border-radius: 19px;
      }
      .home-button {
        position: absolute;
        width: 135px;
        height: 5px;
        left: 127px;
        bottom: 8px;
        background: black;
        border-radius: 3px;
      }
    }
  }
}

.background {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-size: cover;
    background-position: center;
    z-index: 5;
    transform: scale(110%) translate3d(0, 0, 0);
    @include media-breakpoint-up(md) {
      transform: scale(105%) translate3d(0, 0, 0);
    }
    &.hero-image {
      background-image: url("../images/hero.jpg");
      //webkit-backface-visibility: hidden;
    }
    &.forest {
      background-image: url("../images/forest-repeat.jpg");
      box-shadow: inset 0 10px 5px 5px white;
      //webkit-backface-visibility: hidden;
    }
  }
}
